.typewriter h1 {
    color: #fff;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(10, end),
      blink-caret 1s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 75% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

#btn-back-to-top {
  display: none;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  border-radius: 40px;
  height: 60px;
  width: 60px;
  background: gray url(assets/up-arrow.png) no-repeat center;
}